@import 'variables';

@import 'components/Form';
@import 'components/Footer';
@import 'components/Header';
@import 'components/FourOhFour';
@import 'components/Description';
@import 'components/Stats';

@font-face {
  src: url('/Dominique.otf');
  font-family: 'Dominique';
}

@font-face {
  src: url('/Moon Flower.ttf');
  font-family: 'Moon';
}

:root {
  font-size: 20px;
  overflow-x: hidden;
}

p, a, input, button {
  font-family: 'Marcellus';
  color: $darkGray;
  margin-bottom: $pmd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dominique';
  color: $primary;
}

.SmolBoi {
  min-height: 100vh;
}

.well {
  padding: $psm;
  border: 2px solid $lightBlue;
  border-radius: $psm;
  p {
    margin-bottom: 0;
  }
}

a {
  color: darken($primary, 10%);
  &:visited {
    color: lighten($primary, 5%);
  }
  &:hover {
    color: inherit;
    opacity: 0.8;
  }
}