.Form input[type=text] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.Form .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.Form .btn-success {
  border-color: #48a5c2;
  background-color: #3688a1;
  transition: 0.2s;
}
.Form .btn-success:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.Header {
  background-color: #a397e2;
  padding: 0.5rem;
}
.Header h1 {
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.Header h1:hover {
  transition: 0.4s;
  color: #7d0b7d;
}

.FourOhFour {
  margin-top: 5%;
}
.FourOhFour img {
  margin: 0.5rem auto 1rem;
}

.Description img {
  margin: 0.5rem auto 1rem;
}

@font-face {
  src: url("/Dominique.otf");
  font-family: "Dominique";
}
@font-face {
  src: url("/Moon Flower.ttf");
  font-family: "Moon";
}
:root {
  font-size: 20px;
  overflow-x: hidden;
}

p, a, input, button {
  font-family: "Marcellus";
  color: #3a3a44;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dominique";
  color: #a397e2;
}

.SmolBoi {
  min-height: 100vh;
}

.well {
  padding: 0.5rem;
  border: 2px solid #b1d8ee;
  border-radius: 0.5rem;
}
.well p {
  margin-bottom: 0;
}

a {
  color: #806fd7;
}
a:visited {
  color: #b5abe8;
}
a:hover {
  color: inherit;
  opacity: 0.8;
}
