@import '../variables';

.Form {
  .btn {
    &-success {
      border-color: lighten($terciary, 10%);
      background-color: $terciary;
      transition: $trshort;
      &:hover {
        opacity: 0.8;
        transition: $trshort;
      }
    }
  }
}