@import '../variables';

.Form {
  input[type='text'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &-success {
      border-color: lighten($terciary, 10%);
      background-color: $terciary;
      transition: $trshort;
      &:hover {
        opacity: 0.8;
        transition: $trshort;
      }
    }
  }
}