@import '../variables';

.Header {
  background-color: $primary;
  padding: $psm;
  h1 {
    color: white;
    cursor: pointer;
    transition: $trshort * 2;
    &:hover {
      transition: $trshort * 2;
      color: $secondary;
    }
  }
}